<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="{{BaseUrl}}static/kendoui/js/jquery.min.js"></script>
	<script src="{{BaseUrl}}static/kendoui/js/kendo.all.min.js"></script>
	<script src="{{BaseUrl}}static/bootstrap/js/bootstrap.min.js"></script>
	<script src="{{BaseUrl}}static/js/knockout.min.js"></script>
	<script src="{{BaseUrl}}static/js/ko-mapping.js"></script>
	<script src="{{BaseUrl}}static/js/knockout-kendo.min.js"></script>
	<script src="{{BaseUrl}}static/js/ec-common.js"></script>
	
	<link href="{{BaseUrl}}static/kendoui/styles/kendo.material.min.css" type="text/css" rel="stylesheet" />
	<link href="{{BaseUrl}}static/kendoui/styles/kendo.common-bootstrap.min.css" type="text/css" rel="stylesheet" />
	<link href="{{BaseUrl}}static/kendoui/styles/kendo.dataviz.min.css" type="text/css" rel="stylesheet" />
	<link href="{{BaseUrl}}static/kendoui/styles/kendo.dataviz.bootstrap.min.css" type="text/css" rel="stylesheet" />
	
	<link rel="stylesheet" type="text/css" href="{{BaseUrl}}static/theme/neon/bootstrap-green.css">
	<link rel="stylesheet" type="text/css" href="{{BaseUrl}}static/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="{{BaseUrl}}static/theme/neon/core.css">
	<link rel="stylesheet" type="text/css" href="{{BaseUrl}}static/theme/neon/theme.css">
	<link rel="stylesheet" type="text/css" href="{{BaseUrl}}static/theme/neon/form.css">
	<link rel="stylesheet" type="text/css" href="{{BaseUrl}}static/css/default.css">

</head>
<body>
	<script type="text/javascript">
		var model = {};

			model.Processing = ko.observable(false);
		
	</script>


{{.Content}}

<script type="text/javascript">
 ko.applyBindings(model);
</script>

</body>
</html>

