<head>
  <meta charset="utf-8">
  <title>HRMS Home</title>
  <style type="text/css" media="screen">
    a:visited, hover,active{
      color : blue;
    }

  </style>
</head>
  <div style="height:60px;background-color:#c0c0c0;text-align:center; ">
    <span style="font-size:14;font-weight:bold;">HRMS Home</span>
  </div>
  <div style="text-align:center;">
    <a href="{{BaseUrl}}home/default">Home</a>&nbsp;&nbsp;&nbsp;
    <a href="{{BaseUrl}}emp/default">Employee</a>&nbsp;&nbsp;&nbsp;
    <a href="{{BaseUrl}}master/default">Master</a>&nbsp;&nbsp;&nbsp;
    <a href="{{BaseUrl}}logout/default">Logout</a>&nbsp;&nbsp;&nbsp;
  </div>